
$pageWidth: 1000px;
$cardWidth: 79px;
$cardHeight: 123px;
$cardOffset: $cardWidth / 4;
$maxCards: 7;
$maxCardsWidth: ($maxCards - 1) * $cardOffset + $cardWidth;

body {
  font-family: Helvetica, Arial, sans-serif;
  background: url(../images/green_felt_1024x1024.jpg);
}

.page-wrapper {
  position: relative;
  width: $pageWidth;
  margin: 0 auto;
  padding-top: 50px;
}

.top-buttons {
  margin-top: 50px;
}

.player {
  position: absolute;
  .card {
    position: absolute;
    width: $cardWidth;
    height: $cardHeight;
  }
}

.chair1 {
  left: $pageWidth - $maxCardsWidth + 150px;
  bottom: -$cardHeight + 200px;
  transform: rotate(-80deg);
}

.chair2 {
  left: $pageWidth - $maxCardsWidth - 50px;
  bottom: -$cardHeight - 30px;
  transform: rotate(-35deg);
}

.chair3 {
  left: $pageWidth / 2 - $maxCardsWidth / 2;
  bottom: -$cardHeight - 50px;
  transform: rotate(0);
}

.chair4 {
  left: 85px;
  bottom: -$cardHeight + 80px;
  transform: rotate(35deg);
}

.chair5 {
  left: 5px;
  bottom: -$cardHeight + 360px;
  transform: rotate(80deg);
}

// .chair1 {
//   left: $pageWidth - $maxCardsWidth - 50px;
//   bottom: -$cardHeight - 30px;
//   transform: rotate(-35deg);
// }

// .chair2 {
//   left: $pageWidth / 2 - $maxCardsWidth / 2;
//   bottom: -$cardHeight - 50px;
//   transform: rotate(0);
// }

// .chair3 {
//   left: 85px;
//   bottom: -$cardHeight + 80px;
//   transform: rotate(35deg);
// }

.modal {
  .modal-dialog {
    width: 400px;
  }

  select {
    margin-bottom: 16px;
  }

  .col-align {
    padding-left: 0;
    padding-right: 0;
  }

  .btn {
    margin-bottom: 15px;
  }

  .variant {
    border: 5px solid #A34386;
  }
}

